.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "nav top"
    "nav content"
    "nav content"
    "nav content"
    "nav content";
}

.top-panel {
  display: flex;
  flex-direction: column;
  grid-area: top;
  background-color: #FFF;
  box-shadow: 0px 5px 3px #0000001a;
  z-index: 2;
  padding: 0rem 5rem;
}

.top-container-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  gap: 0.5rem;
  margin: 2rem 0;
  width: 100%;
  max-width: 600px;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  width: 30px;
  height: 30px;
  border: none;
}

.search-button-icon {
  background: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.search-input {
  border-radius: 20px;
  border: none;
  background-color: #E2E8F0;
  color: black;
  width: 100%;
  max-width: 500px;
}

.notification-user-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.notification-icon {
  background-color: inherit;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.user-icon-top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: gold;
  width: 36px;
  height: 36px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
}

.user-name-top {
  font-weight: bold;
  font-size: 20px;
}

.top-container-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-container {
  display: flex;
  gap: 0.5rem;
}

.welcome-user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: gold;
  color: white;
  font-weight: bold;
  font-size: 28px;
}

.welcome-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-message {
  font-size: 14px;
  margin: 0 0;
  font-weight: 600;
}

.welcome-user-name {
  font-size: 20px;
  margin: 0 0;
  font-weight: bold;
}

.action-button-group {
  display: flex;
  gap: 1rem;
}

.action-button {
  border-radius: 16px;
  height: fit-content;
  background-color: #1992D4;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.content-panel {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr;
  grid-area: content;
  background-color: #E2E8F0;
}

.content-title {
  font-weight: bold;
  font-size: 18px;
  padding-left: 2rem;
} 

.project-container {
  display: grid;
  padding-left: 2rem;
  padding-right: 2rem;
  grid-column: 1 / span 1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: white;
  border-left: 0.5rem solid #F0B429;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 3px #0000001a;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: bold;
  margin: 1rem 1rem 0rem 1rem;
}

.card-content {
  margin: 0 1.5rem 0 1rem;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin: 0 1.5rem 1rem 1rem;
  gap: 1rem;
}

.card-footer-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.content-information-container {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}

.announcement-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: white;
  box-shadow: 0px 2px 3px #0000001a;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}

.announcement-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0.5rem;
}

.announcement-section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.announcement-section-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0;
}

.announcement-section-body {
  font-size: 13px;
  margin: 0 0;
}

.trending-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0px 2px 3px #0000001a;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  gap: 0.5rem;
  justify-content: space-around;
}

.trending-item-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.trending-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: white;
  background-color: green;
  font-weight: bold;
}

.trending-item-meta {
  display: flex;
  flex-direction: column;
}

.trending-item-handle {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0;
}

.trending-item-name {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  grid-area: nav;
  background-color: #1992D4;
}

.navbar-header {
  display: flex;
  padding-left: 1rem;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.navbar>*:nth-child(8) {
  margin-top: 3rem;
}

.navbar-header-icon {
  color: white;
  width: 3rem;
  height: 3rem;
}

.navbar-header-text {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.navbar-link {
  display: flex;
  padding-left: 1rem;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.navbar-link-text {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0;
}

.navbar-link-icon {
  color: white;
  width: 2rem;
  height: 2rem;
}